<html>
    <head>
      {% if title %}
      <title>{{ title }} - InstaLink</title>
      {% else %}
      <title>Welcome to InstaLink</title>
      {% endif %}
    </head>
    <body>
        <div>
            <a style="color: white"  href="/home">Home</a>
            <a style="color: white"  href="/links">Links</a>
        </div>
        <hr>
        {% block content %}{% endblock %}
        <style>
        body {
            background-image: url({{ url_for('static', filename='background.png') }});
            background-repeat: no-repeat;
            background-attachment: fixed; 
            background-size: cover;
        }
        </style>
        <body text='#FFFFFF'>
    </body>
</html>
